<div class="cart my-5">
    <div class="container">
        <div class="row">
            <div class="product-side col-md-6 col-sm-12">
                <div *ngFor="let product of cartProductList" class="item d-flex justify-content-between">
                    <div class="image w-50 ">
                        <img [src]="product.item.url" />
                    </div>
                    <div class="data">
                        <h4 class="my-2">{{product.item.name}}</h4>
                        <p class="my-2">{{product.item.price}}</p>
                        <div class="count">
                            <span>Amount : </span>
                            <select [(ngModel)]="product.count" (ngModelChange)="reCalcTotalPrice($event,product.item)">
                                <option *ngFor="let i of allSelectoptions " [value]="i">{{i}}</option>
                            </select>
                            <button (click)="delete(product.item.id)" class="btn btn-danger my-2">Delete
                                Product</button>
                        </div>


                    </div>


                </div>

                <div class="total-price">
                    <h2 *ngIf="totalPrice !=0 ">Total:$ <span>{{totalPrice | number : '1.1-2'}} </span></h2>
                </div>

            </div>
            <div class="col-md-6 col-sm-12">

                <form [formGroup]="checkoutForm" (ngSubmit)="submit()" class="p-3">
                    <div class="form-group my-2">
                        <label> Full name</label>
                        <input class="form-control" formControlName="name" placeholder="minimum 3 character" />
                        <div *ngIf="!checkoutForm.get('name')?.valid && (checkoutForm.get('name')?.touched)">
                            <div *ngIf="checkoutForm.get('name').errors.required" class="text-danger my-2">
                                Name is required
                            </div>
                            <div *ngIf="checkoutForm.get('name').errors.minlength" class="text-danger my-2">
                                Min Length is 3
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label>Address</label>
                        <input class="form-control" formControlName="address" placeholder="minimum 3 character" />
                        <div *ngIf="!checkoutForm.get('address')?.valid && (checkoutForm.get('address')?.touched)">
                            <div *ngIf="checkoutForm.get('address').errors.required" class="text-danger my-2">
                                Address is required
                            </div>
                            <div *ngIf="checkoutForm.get('address').errors.minlength" class="text-danger my-2">
                                Min Length is 6
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label> Credit Card Number</label>
                        <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
                            class="form-control" formControlName="credit" placeholder="(16-digit number)"
                            maxlength="16" />
                        <div *ngIf="!checkoutForm.get('credit')?.valid && (checkoutForm.get('credit')?.touched)">
                            <div *ngIf="checkoutForm.get('credit').errors.required" class="text-danger my-2">
                                Credit Number is required
                            </div>
                            <div *ngIf="checkoutForm.get('credit').errors.minlength" class="text-danger my-2">
                                Min Length is 16
                            </div>
                        </div>
                    </div>
                    <div class="hint">
                        <small class="text-secondary"> We will not share your payment details with anyone else</small>
                    </div>

                    <div class="action my-3">
                        <button type="submit" [disabled]="submitted || checkoutForm.invalid " class="btn btn-primary">
                            Submit</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>