<div class="confirmation my-5">

    <div class="content text-center w-50 m-auto">
        <h2 class=" d-flex aliign-items-center justify-content-center">
            <span class="text-success">Success!</span> 
            <img width="80"  src="../../../assets/CelebrationIcon.jpg"/>
        </h2>

        <p class="my-2 text-center">Thank you ,<strong>{{userName}}</strong>!</p>
        <p class="my-2 text-center">Your,<strong>{{totalPrice}}</strong> order is confirmed !!</p>
        <p class="my-2 text-center">Please allow 1-3 bussiness day (s) for shopping </p>
        <div class="action">
           <btton class="btn btn-primary" routerLink="/productlist">Back To Product List</btton>
        </div>

    </div>

</div>