<div class="details">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="image d-flex align-items-center ">
                    <img class="img-fluid" [src]="product?.url"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="item-desc">
                    <h4 class="title">{{product?.name}}</h4>
                    <h5 class="price">{{product?.price}}</h5>
                    <h4 class="desc">{{product?.description}}</h4>
                    <button class ="btn btn-primary">Add To Cart</button>
                </div>

            </div>
        </div>
    </div>
</div>